.cuerpoweb {
  width: 60rem;
}
#loader-page {
  width: 30rem;
  height: 100%;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

#loader {
  width: 90px;
  height: 90px;
  border-right: 9px solid rgb(149, 193, 31);
  border-left: 9px solid rgba(149, 193, 31, 0.32);
  border-top: 9px solid rgba(149, 193, 31, 0.32);
  border-bottom: 9px solid rgba(149, 193, 31, 0.32);
  border-radius: 50%;
  opacity: .6;
  animation: spin 1s linear infinite;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.logo {

}
