body {
  width:100%;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
}
.titulo {
  height: 5rem;
}
.profile {
  position: relative;
  height: 2.3rem;
  width:20rem;
  margin-left: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
}
