body {
  width: 1000px;
  background: url(img/jojo2.jpg);
  margin: auto;
}

.uf {
  font-family: pacifico;
  font-weight: bold;
  font-size: 1.5em;
  float: left;
  margin: 1rem;
  background-color: white;
  border-radius: 50% 50% 0 0;
  text-align: center;
}
.circulo:first-child {
  width: 100px;
  height: 100px;
  background-image: url(img/circulo.png);
  background-size: 100%;
  border: 0.5px solid black;
  border-radius: 50%;
  z-index: -1;
  margin: 0 auto;
  overflow: hidden;

}
.link {
  color: rgb(93, 93, 93);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: sans-serif, poppins;
  text-decoration: none;
  line-height: 2px;
  margin-top: 2em;

}
a {
  text-decoration: none;
}
nav ul li {
    display: block;
    margin: 0.1rem;
    padding: 0.5rem;
    width: 10rem;
    position: relative;
    margin: 0 auto;

  }
nav ul li ul{
  display: none;
  padding: 0;
  margin: 0;
  top: 0;
  background-color: rgba(237, 236, 236, 0.90);
}
nav ul li:hover ul{
  position: absolute;
  display: block;
  top: 3.5rem;
  left: 0;
  overflow-y: scroll;
  height: 50vh;

}
nav ul:hover li ul li{
  float: none;
}
nav ul li ul li:hover .link {
  color: rgb(157, 53, 30);
}
#bars {
    height: 100px;
    margin: auto;
    position: relative;
    top: -20px;
    width: 100px;
    overflow: hidden;
    transform: rotate(180deg);
    left: -7px;
}
.bar {
   background: black;
    height: 100px;
    position: relative;
    width: 15px;
    animation: sound 0ms -800ms linear infinite alternate;
    float: left;
    margin-left: -4px;
}


@keyframes sound {
    0% {
       opacity: .1;
       height: 20px;
    }
    100% {
        opacity: .5;
        height: 80px;
    }

}

.bar:nth-child(1)  {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2)  {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3)  {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4)  {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5)  {
  left: 17px;
  animation-duration: 400ms;
}
.bar:nth-child(6)  {
  left: 21px;
  animation-duration: 427ms;
}

.circulo:hover .bar {
    animation: sound2 4s linear alternate ;
    animation-iteration-count: 1;
}

@keyframes sound2 {
  0% {
    opacity: 0.3;
    height: 80px;
  }
  90% {
    opacity: 0.1;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 0;
    display: none;
  }

}
.circulo:hover .bar:nth-child(1) {
  animation-duration: 1.5s;
  opacity: 0.5;
}
.circulo:hover .bar:nth-child(2) {
  animation-duration: 1s;
  opacity: 1;
}
.circulo:hover .bar:nth-child(3) {
  animation-duration: 1.1s;
  opacity: 0.8;
}
.circulo:hover .bar:nth-child(4) {
  animation-duration: 0.9s;
  opacity: 0.4
}
.circulo:hover .bar:nth-child(5) {
  animation-duration: 1.2s;
  opacity: 0.2
}
.circulo:hover .bar:nth-child(6) {
  animation-duration: 1.5s;
  opacity: 0.5;
}

h2 {
  position: absolute;
  text-align: center;
  top: 2em;
  font-size: 6em;
  color: rgb(23, 121, 152);
  font-family: pacifico;
  width: 500px;
  background-color: red;

  left: 250px;
}

.circulo:hover .circulo {
    animation: sound3 4s linear;
    animation-iteration-count: 1;
}

@keyframes sound3 {
  0% {
    background-image: url(img/jojo2.jpg);
    opacity: 0;
  }
  100% {
    background-image: url(img/jojo2.jpg);
    opacity: 1;
  }

}

img {
  opacity: 0;
}
