body {
  background-color: red;
  font-size: 1.5rem;
}

@media screen and (min-width:801px){
  body{
    background-color: olive;
  }
}
@media screen and (max-width:850px) and (min-width: 750px){
  body{
    background-color: yellow;
  }
}
@media screen and (max-width:799px){
  body{
    background-color: white;
  }
}
